# Byte-compiled / optimized / DLL files
app/backends/__pycache__/
__pycache__/
*.py[cod]
app/migrations/*
media/csv/*.csv


# C extensions
*.so

# database extension
*.sqlite3

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot
db.sqlite3
latest/db.sqlite3

# Sphinx documentation
docs/_build/


media/*
latest/media/*