<!Doctype html>
	<html lang="en">

	<head>
	    <style>
	        body {
	            font-family: "Lato", sans-serif;
	        }

	        p {
	            line-height: 25px;
	            margin: 0;
	        }

	        .column_cell {
	            color: #888;
	        }

	        .column_cell {
	            padding: 16px;
	            text-align: center;
	            vertical-align: top;
	        }

	        .border-radius {
	            border-radius: 4px;
	        }
	    </style>
	</head>

	<body>
	    <table width="100%" cellspacing="0" cellpadding="0" border="0">
	        <tbody>
	            <tr>
	                <td valign="top" align="center">
	                    <table class="border-radius" style="border:1px solid #eee;" width="630px" cellspacing="0" cellpadding="15">
	                        <thead>
	                            <tr>
	                                <th style="border-bottom-left-radius:0!important;border-bottom-right-radius:0!important;border-radius:4px;border-top: 4px solid #2da2eb;text-align: center;" bgcolor="#fff" align="left">
		                           <img src="logo.png" alt="kontess" style="width: 200px;"></th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr>
	                                <td style="font-family:Lato,sans-serif;padding-top:20px;padding-bottom:0;color:#333333;" align="left">
	                                    <h3 style="margin:0;font-weight:500;font-size:19px;">Hi user,</h3>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td align="left">
	                                    <p style="font-size:14px;padding:0 0px 23px;border-bottom: 1px solid #ececec;text-align:left;color:#666;margin-bottom:8px;">
	                                    	{{content}}
	                                    </p>
	                                    <br>
	                                    <a href="{{msg}}" style="border-radius: 25px;text-align:left;padding: 10px 20px; border: 1px solid #2da2eb;
	                                     line-height: 24px; font-size: 10pt; background-color: #2da2eb; color: white; text-decoration: none;">Verify Email Address</a>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td style="padding-top:8px;padding-bottom:3px;" align="left">
	                                    <p style="font-size:14px;border-top: 1px solid #ececec;padding:16px 0px 4px;text-align:left;color:#666;margin-top:10px;">Please Note that this link will expire in 5 days.</p>
	                                    <p style="font-size:14px;padding:0 0px 13px;text-align:left;color:#666">Thanks,</p>
	                                </td>
	                            </tr>
	                        </tbody>
	                        <tfoot>
	                            <tr>
	                                <td style="border-radius:4px;border-top-left-radius:0px;border-top-right-radius:0px;height:25px;font-family:Lato,sans-serif;border-top:1px solid #ebebeb;border-bottom:0;" bgcolor="#000" align="left">
	                                    <h3 style="font-size:15px;font-weight:400;color:#fff;margin:0;">CopyrightÂ© Websitename</h3></td>
	                            </tr>
	                        </tfoot>
	                    </table>
	                </td>
	            </tr>
	        </tbody>
	    </table>

	</body>
  </html>


	</body>
  </html>